{% extends "panel/index.html" %}

{% block content %}
{% macro render_status(status) %}
    {% if status == 'pending' %}
        待付款
    {% elif status == 'paid' %}
        已付款
    {% endif %}
{% endmacro %}
<h1>财务管理</h1>
<p>&nbsp;</p>
<ul class="nav nav-pills" role="tablist">
  <li role="presentation"><a href="{{ url_for('pay_admin.pay_list') }}">应收帐款</a></li>
  <li role="presentation" class="active"><a href="{{ url_for('pay_admin.due_list') }}">应付账款</a></li>
</ul>
<p>&nbsp;</p>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th class="text-center">采购编号</th>
                <th class="text-center">账单状态</th>
                <th class="text-center">账单金额</th>
                <th class="text-center">创建时间</th>
                <th class="text-center">更新时间</th>
                <th class="text-center">操作</th>
            </tr>
        </thead>
        <tbody>
        {% for due in dues %}
            <tr>
                <td>{{ due.id }}</td>
                <td class="text-center">{{ due.purchase_id }}</td>
                <td class="text-center">{{ render_status(due.status) }}</td>
                <td class="text-center">{{ due.amount }}</td>
                <td class="text-center">{{ fmt_time(due.date_created) }}</td>
                <td class="text-center">{{ fmt_time(due.date_updated) }}</td>
                <td class="text-center">
                    {% if due.status == 'pending' %}
                    <a href="{{ url_for('pay_admin.due_confirm', id=due.id) }}">确认已付款</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
{% endblock %}
