{% extends "panel/index.html" %}

{% block content %}
{% macro render_status(status) %}
    {% if status == 'launch' %}
        待确认
    {% elif status == 'confirm' %}
        已确认
    {% elif status == 'dispatch' %}
        已发货
    {% elif status == 'success' %}
        交易成功
    {% elif status == 'return' %}
        退货中
    {% elif status == 'cancel' %}
        已取消
    {% endif %}
{% endmacro %}
<h1>订单管理</h1>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><h4>订单编号:&nbsp;{{ order.id }}&nbsp;&nbsp;&nbsp;&nbsp;订单状态:&nbsp;{{ render_status(order.status) }}&nbsp;&nbsp;&nbsp;&nbsp;订单金额:&nbsp;{{ order.order_price }}</h2></div>

    <!-- Table -->
    <table class="table">
	    <thead>
	        <tr>
	            <th class="text-center">商品编号</th>
	            <th class="text-center">商品名称</th>
	            <th class="text-center">单价（元）</th>
	            <th class="text-center">数量</th>
	            <th class="text-center">金额</th>
	            <th></th>
	        </tr>
	    </thead>
	    <tbody>
	    	{% for item in products %}
	    	<tr>
	    		<td class="text-center">{{ item.product_id }}</td>
	    		<td class="text-center">{{ item.product.name }}</td>
                <td class="text-center">{{ item.product_price }}</td>
                <td class="text-center">{{ item.product_quantity }}</td>
                <td class="text-center">{{ item.total_price }}</td>
	    	</tr>
	    	{% endfor %}
	    </tbody>
    </table>
</div>
<button onclick="orderUpdate('confirm');" type="button" class="btn btn-primary">确认订单</button>
<button onclick="orderUpdate('dispatch');" type="button" class="btn btn-success">已经发货</button>
<button onclick="orderUpdate('cancel');" type="button" class="btn btn-danger">取消订单</button>
{% endblock %}

{% block js%}
    {{ super() }}
    <script>
        function orderUpdate(status){
            var id = {{ order.id }};
            var data = {"status": status};
            $.ajax({
                url: "/apis/panel/order/" + id + "/",
                type: "put",
                data: JSON.stringify(data),
                contentType: "application/json",
                dataType:"json",
                async: true,
                statusCode: {
                    422: function() {
                        alert("传递参数错误");
                    },
                    404: function() {
                        alert("订单不存在");
                    },
                    403: function() {
                        alert("不被允许的修改");
                    },
                    200: function() {
                        alert("订单状态修改成功");
                        window.location.reload();
                    }
                }
            });
        }
    </script>
{% endblock %}
