{% extends "panel/index.html" %}

{% block content %}
{% macro render_status(status) %}
    {% if status == 'launch' %}
        待确认
    {% elif status == 'confirm' %}
        已确认
    {% elif status == 'dispatch' %}
        已发货
    {% elif status == 'success' %}
        交易成功
    {% elif status == 'return' %}
        退货中
    {% elif status == 'cancel' %}
        已取消
    {% endif %}
{% endmacro %}
<h1>订单管理</h1>
<p>&nbsp;</p>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-center">订单编号</th>
                <th class="text-center">用户名</th>
                <th class="text-center">订单状态</th>
                <th class="text-center">成交金额</th>
                <th class="text-center">创建时间</th>
                <th class="text-center">更新时间</th>
                <th class="text-center">操作</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td class="text-center">{{ order.id }}</td>
                <td class="text-center">{{ order.user.name }}</td>
                <td class="text-center">{{ render_status(order.status) }}</td>
                <td class="text-center">{{ order.order_price }}</td>
                <td class="text-center">{{ fmt_time(order.date_created) }}</td>
                <td class="text-center">{{ fmt_time(order.date_updated) }}</td>
                <td class="text-center">
                    <a href="{{ url_for('order_admin.detail', id=order.id) }}">查看详情</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
