{% extends "panel/index.html" %}

{% block content %}
<h1>财务管理</h1>
<a class="btn btn-default" href="{{ url_for('pay_admin.create') }}" role="button">创建账款事项</a>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th class="text-center">订单编号</th>
                <th class="text-center">账单状态</th>
                <th class="text-center">账单金额</th>
                <th class="text-center">付款人</th>
                <th class="text-center">创建时间</th>
                <th class="text-center">更新时间</th>
                <th class="text-center">操作</th>
            </tr>
        </thead>
        <tbody>
        {% for pay in pays %}
            <tr>
                <td>{{ pay.id }}</td>
                <td class="text-center">{{ pay.order_id }}</td>
                <td class="text-center">{{ pay.status }}</td>
                <td class="text-center">{{ pay.amount }}</td>
                <td class="text-center">{{ pay.order.user.name }}</td>
                <td class="text-center">{{ fmt_time(pay.date_created) }}</td>
                <td class="text-center">{{ fmt_time(pay.date_updated) }}</td>
                <td class="text-center">
                    <a href="{{ url_for('pay_admin.delete', id=pay.id) }}">删除</a>
                    <a href="{{ url_for('pay_admin.detail', id=pay.id) }}">查看</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
{% endblock %}
