{% extends "panel/index.html" %}

{% block content %}
{% macro render_status(status) %}
    {% if status == 'pending' %}
        待收款
    {% elif status == 'received' %}
        已到账
    {% endif %}
{% endmacro %}
<h1>财务管理</h1>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th class="text-center">订单编号</th>
                <th class="text-center">账单状态</th>
                <th class="text-center">账单金额</th>
                <th class="text-center">付款人</th>
                <th class="text-center">创建时间</th>
                <th class="text-center">更新时间</th>
                <th class="text-center">操作</th>
            </tr>
        </thead>
        <tbody>
        {% for pay in pays %}
            <tr>
                <td>{{ pay.id }}</td>
                <td class="text-center">{{ pay.order_id }}</td>
                <td class="text-center">{{ render_status(pay.status) }}</td>
                <td class="text-center">{{ pay.amount }}</td>
                <td class="text-center">{{ pay.order.user.name }}</td>
                <td class="text-center">{{ fmt_time(pay.date_created) }}</td>
                <td class="text-center">{{ fmt_time(pay.date_updated) }}</td>
                <td class="text-center">
                {% if pay.status == 'pending' %}
                    <a href="#" onclick = "payUpdate('received', {{ pay.id }})">确认收款</a>
                {% elif pay.status == 'received' %}
                    <a href="{{ url_for('pay_admin.detail', id=pay.id) }}">查看详情</a>
                    <a href="{{ url_for('pay_admin.delete', id=pay.id) }}">删除</a>
                {% endif%}
                </td>
            </tr>
        {% endfor %}
        </tbody>
{% endblock %}
{% block js%}
    {{ super() }}
    <script>
        function payUpdate(status, id){
            var data = {"status": status};
            $.ajax({
                url: "/apis/panel/pay/" + id + "/",
                type: "put",
                data: JSON.stringify(data),
                contentType: "application/json",
                dataType:"json",
                async: true,
                statusCode: {
                    422: function() {
                        alert("传递参数错误");
                    },
                    404: function() {
                        alert("账款不存在");
                    },
                    403: function() {
                        alert("不被允许的修改");
                    },
                    200: function() {
                        alert("账款状态修改成功");
                        window.location.reload();
                    }
                }
            });
        }
    </script>
{% endblock %}
