{% extends "panel/index.html" %}

{% block content %}
<h1>库存管理</h1>
<a class="btn btn-default" href="{{ url_for('product_admin.create') }}" role="button">创建产品</a>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th class="text-center">产品名称</th>
                <th class="text-center">价格</th>
                <th class="text-center">库存量</th>
                <th class="text-center">安全库存</th>
                <th class="text-center">类别</th>
                <th class="text-center">更新时间</th>
                <th class="text-center">操作</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td class="text-center">{{ product.name }}</td>
                <td class="text-center">{{ product.price }}</td>
                <td class="text-center">{{ product.quantity }}</td>
                <td class="text-center">{{ product.safe_quantity }}</td>
                <td class="text-center">{{ product.category }}</td>
                <td class="text-center">{{ fmt_time(product.date_updated) }}</td>
                <td class="text-center">
                    <a href="{{ url_for('product_admin.delete', id=product.id) }}">删除</a>
                    <a href="{{ url_for('product_admin.detail', id=product.id) }}">查看</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
{% endblock %}
