{% extends "panel/index.html" %}

{% block content %}
{% macro render_status(status) %}
    {% if status == 'begin' %}
        采购开始
    {% elif status == 'over' %}
        采购结束
    {% endif %}
{% endmacro %}
<h1>采购管理</h1>
<a class="btn btn-default" href="{{ url_for('purchase_admin.create') }}" role="button">创建采购事项</a>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th class="text-center">产品编号</th>
                <th class="text-center">产品名称</th>
                <th class="text-center">采购单价</th>
                <th class="text-center">采购数量</th>
                <th class="text-center">采购金额</th>
                <th class="text-center">采购状态</th>
                <th class="text-center">创建时间</th>
                <th class="text-center">操作</th>
            </tr>
        </thead>
        <tbody>
            {% for purchase in purchases %}
            <tr>
                <td>{{ purchase.id }}</td>
                <td class="text-center">{{ purchase.product_id }}</td>
                <td class="text-center">{{ purchase.product.name }}</td>
                <td class="text-center">{{ purchase.cost }}</td>
                <td class="text-center">{{ purchase.product_quantity }}</td>
                <td class="text-center">{{ purchase.total_cost }}</td>
                <td class="text-center">{{ render_status(purchase.status) }}</td>
                <td class="text-center">{{ fmt_time(purchase.date_created) }}</td>
                <td class="text-center">
                    {% if purchase.status == 'begin' %}
                    <a href="{{ url_for('purchase_admin.confirm', id=purchase.id) }}">到货确认</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
{% endblock %}
