{% extends "panel/index.html" %}

{% block content %}
<h1>采购管理</h1>
<a class="btn btn-default" href="{{ url_for('purchase_admin.create') }}" role="button">创建采购事项</a>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th class="text-center">产品编号</th>
                <th class="text-center">采购数量</th>
                <th class="text-center">采购状态</th>
                <th class="text-center">创建时间</th>
                <th class="text-center">操作</th>
            </tr>
        </thead>
        <tbody>
            {% for purchase in purchases %}
            <tr>
                <td>{{ purchase.id }}</td>
                <td class="text-center">{{ purchase.product_id }}</td>
                <td class="text-center">{{ purchase.product_quantity }}</td>
                <td class="text-center">{{ purchase.status }}</td>
                <td class="text-center">{{ fmt_time(purchase.date_created) }}</td>
                <td class="text-center">
                    {% if purchase.status == 'begin' %}
                    <a href="{{ url_for('purchase_admin.confirm', id=purchase.id) }}">到货确认</a>
                    {% endif %}
                    <a href="{{ url_for('purchase_admin.delete', id=purchase.id) }}">删除</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
{% endblock %}
