{% extends "panel/index.html" %}

{% block content %}
<h1>采购管理</h1>
<form method="post">
    {{ form.csrf_token }}
    <div class="form-group">
        {{ form.product_id.label }}
        {% if form.product_id.errors %}
        <p>{{ form.product_id.errors[0] }}</p>
        {% endif %}
        {{ form.product_id(class='form-control', placeholder='必填项') }}
    </div>
    <div class="form-group">
        {{ form.cost.label }}
        {% if form.cost.errors %}
        <p>{{ form.cost.errors[0] }}</p>
        {% endif %}
        {{ form.cost(class='form-control', placeholder='必填项') }}
    </div>
    <div class="form-group">
        {{ form.product_quantity.label }}
        {% if form.product_quantity.errors %}
        <p>{{ form.product_quantity.errors[0] }}</p>
        {% endif %}
        {{ form.product_quantity(class='form-control', placeholder='必填项') }}
    </div>
    <button type="submit">提交</button>
</form>
{% endblock %}
