<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="viewport" content="width=1024">

<link href="css.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery1.10.2.js"></script>

<script type="text/jscript">
$(function(){
	
	//首页大事记
	$('.course_nr2 li').hover(function(){
		$(this).find('.shiji').slideDown(600);
	},function(){
		$(this).find('.shiji').slideUp(400);
	});
	
});

</script>

</head>

<body>

<div class="course">
  <div class="clearfix web_widht course_nr">
    <ul class="course_nr2">
      <li>1993
        <div class="shiji">
          <h1>1993</h1>
          <p>
          <p>内蒙古金宇集团股份有限公司改组成立。</p>
          </p>
        </div>
      </li>
      <li>1999
        <div class="shiji">
          <h1>1999</h1>
          <p>
          <p>金宇集团股票在上海证券交易所上市；</p>
          </p>
        </div>
      </li>
      <li>2003
        <div class="shiji">
          <h1>2003</h1>
          <p>
          <p>强毒灭活苗生产车间获农业部GMP认证；成为首家通过农业部GMP认证的企业。</p>
          </p>
        </div>
      </li>
      <li>2007
        <div class="shiji">
          <h1>2007</h1>
          <p>
          <p>购并扬州优邦生物制药有限公司</p>
          </p>
        </div>
      </li>
      <li>2008
        <div class="shiji">
          <h1>2008</h1>
          <p>
          <p>金宇保灵公司荣膺“兽用疫苗国家工程试验室”</p>
          </p>
        </div>
      </li>
      <li>2009
        <div class="shiji">
          <h1>2009</h1>
          <p>
          <p>上马国内第一条悬浮培养口蹄疫疫苗生产线。</p>
          </p>
        </div>
      </li>
      <li>2013
        <div class="shiji">
          <h1>2013</h1>
          <p>
          <p>退出房地产业务，确立了市场化国际化目标战略。</p>
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>



</body>
</html>
