{% extends "panel/index.html" %}

{% block content %}
<h1>用户管理</h1>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
<form method="post">
    {{ form.csrf_token }}
    <div class="form-group">
        {{ form.name.label }}
        {% if form.name.errors %}
        <p>{{ form.name.errors[0] }}</p>
        {% endif %}
        {{ form.name(class='form-control', placeholder='必填项') }}
    </div>
    <div class="form-group">
        {{ form.phone.label }}
        {% if form.phone.errors %}
        <p>{{ form.phone.errors[0] }}</p>
        {% endif %}
        {{ form.phone(class='form-control', placeholder='可选项') }}
    </div>
    <div class="form-group">
        {{ form.address.label }}
        {% if form.address.errors %}
        <p>{{ form.address.errors[0] }}</p>
        {% endif %}
        {{ form.address(class='form-control', placeholder='可选项') }}
    </div>
    <div class="form-group">
        {{ form.account.label }}
        {% if form.account.errors %}
        <p>{{ form.account.errors[0] }}</p>
        {% endif %}
        {{ form.account(class='form-control', placeholder='必填项') }}
    </div>
    <button type="submit">提交</button>
</form>
{% endblock %}
