{% extends "panel/index.html" %}

{% block content %}
<h1>用户管理</h1>
<a class="btn btn-default" href="{{ url_for('user_admin.create') }}" role="button">创建用户</a>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th class="text-center">用户名</th>
                <th class="text-center">联系方式</th>
                <th class="text-center">地址</th>
                <th class="text-center">信用情况</th>
                <th class="text-center">操作</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td class="text-center">{{ user.name }}</td>
                <td class="text-center">{{ user.phone }}</td>
                <td class="text-center">{{ user.address }}</td>
                <td class="text-center">{{ user.credit }}</td>
                <td class="text-center">
                    <a href="{{ url_for('user_admin.delete', id=user.id) }}">删除</a>
                    <a href="{{ url_for('user_admin.detail', id=user.id) }}">查看</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
{% endblock %}
