<!DOCTYPE html>
<html lang="en">

<head>

    {% block head_meta %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
    {% endblock head_meta %}
    
    <title>{% block title %}base{% endblock %}</title>
   
    {% block css %} 
    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    {% endblock %}
    
</head>

<body>

    {% block nav %}
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('home.index') }}">AMC首页</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{ url_for('product.list') }}">产品列表</a>
                    </li>
                </ul>
                {% if current_user.name %}
                    <div class="navbar-form navbar-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            {{ current_user.name }}
                            <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ url_for('user.profile') }}">我的信息</a></li>
                                <li><a href="{{ url_for('user.order') }}">我的订单</a></li>
                                <li class="divider"></li>
                                <li><a href="{{ url_for('auth.logout') }}">退出登录</a></li>
                            </ul>
                        </div>
                        &nbsp;
                        <a href="{{ url_for('order.trolley') }}">
                            <button type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> 购物车
                            </button>
                        </a>
                    </div>
                {% else %}
                    <div class="navbar-form navbar-right">
                        <a href="{{ url_for('auth.login')}}" class="btn btn-default">登陆</a>
                    </div>
                {% endif %}
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    {% endblock %}

    <div class="container">
        
        {% block content %}
        {% endblock %}
         
    </div>
    
    <!-- JavaScript at the bottom for fast page loading -->
    {% block js %}
    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    {% endblock %}
    <!-- end scripts -->

</body>

</html>
