{% extends "front/base.html" %}
    {% block title %}AMC首页{% endblock %} 
    {% block css %}
        <!-- Custom CSS -->
        <link href="/static/bootstrap/css/heroic-features.css" rel="stylesheet">
    {% endblock %}
    {% block content %}
        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <h1>Welcome to AMC!</h1>
            <p>前进汽车公司（Advance Motor-fittings Company，简称AMC）是1956年公私合营时由五个私营汽车配件商店组成的。1967年与北城五金公司合并，1987年后重新独立经营，并设立了两个门市部门，分别在南郊和东郊。公司业务范围是销售国内外各种汽车配件，欢迎广大公司和个人订购！</p>
        </header>

        <hr>

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3>明星产品</h3>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <div class="row text-center">

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <a href="product13.html"><img src="/static/imag/ExternalSupplies3.png" alt=""></a>
                    <div class="caption">
                        <a href="product13.html"><h3>运动型静音轮胎</h3></a>
                        <p><span style="font-size:0.5em">价格：</span><strong>￥289.00</strong>&nbsp;&nbsp;<span style="font-size:0.5em">库存：</span><strong>119</strong>件</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <a href="product20.html"><img src="/static/imag/InternalSupplies0.png" alt=""></a>
                    <div class="caption">
                        <a href="product20.html"><h3>车之魂汽车坐垫</h3></a>
                        <p><span style="font-size:0.5em">价格：</span><strong>￥297.80</strong>&nbsp;&nbsp;<span style="font-size:0.5em">库存：</span><strong>59</strong>件</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <a href="product32.html"><img src="/static/imag/BeautySupplies2.png" alt=""></a>
                    <div class="caption">
                        <a href="product32.html"><h3>玻璃镀膜套装</h3></a>
                        <p><span style="font-size:0.5em">价格：</span><strong>￥98.00</strong>&nbsp;&nbsp;<span style="font-size:0.5em">库存：</span><strong>331</strong>件</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <a href="product41.html"><img src="/static/imag/MaintenanceSupplies1.png" alt=""></a>
                    <div class="caption">
                        <a href="product41.html"><h3>无线胎压监测器</h3></a>
                        <p><span style="font-size:0.5em">价格：</span><strong>￥499.00</strong>&nbsp;&nbsp;<span style="font-size:0.5em">库存：</span><strong>201</strong>件</p>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->

        <hr>
        <!--
       {% if current_user.name %}
       <p>{{ current_user.name }}</p>
       <a href="{{ url_for('auth.logout') }}">退出</a>
       {% else %}
       <a href="{{ url_for('auth.login') }}">登陆</a>
       {% endif %}
       -->
    {% endblock %}
