{% extends "front/base.html" %}

    {% block title %}产品列表{% endblock %} 
   
    {% block css %}
        <link href="/static/css/3-col-portfolio.css" rel="stylesheet">
    {% endblock%}

    {% block content %}
        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">产品列表
                    <small>所有商品</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <div class="row text-center">
            {% for product in products %}
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <a href="{{ url_for('product.detail', id=product.id) }}"><img src="{{ product.img }}" alt=""></a>
                    <div class="caption">
                        <h3>{{ product.name }}</h3>
                        <p>
                            <span style="font-size:0.8em">价格：</span><strong>￥{{ product.price }}</strong>
                            &nbsp;&nbsp;
                            <span style="font-size:0.8em">库存：</span><strong>{{ product.quantity }}</strong>
                        </p>
                        <p>
                            <a href="{{ url_for('product.detail', id=product.id) }}" class="btn btn-primary">立即购买</a>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <hr>
    {% endblock %}
