{% extends "front/base.html" %}
    {% block title %}products_list{% endblock %} 
    {% block content %}
        {% for product in products %}
            {% for k in product %}
                {{product[k]}}
            {% endfor %}
            <a href="{{ url_for('product.detail', id=product['id']) }}"><input type="button" value='details'></input></a>
        {% endfor %}
    {% endblock %}

    {% block js%}
        {{ super() }}
        <script>
            
        </script>
    {% endblock %}
