{% extends "front/base.html" %}
    {% block title %}产品1：雅尼路汽车装饰灯{% endblock %} 
    {% block css %}
        <!--百度bootstrap-->
        <link href="/static/bootstrap/css/baidubootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="/static/bootstrap/css/1-col-portfolio.css" rel="stylesheet">
    {% endblock %}
    {% block content %}
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">产品详情
                    <small>产品1</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Project One -->
        <div class="row">
            <div class="col-md-5">
                <img class="img-responsive" src="/static/imag/ExternalSupplies0.png" alt="">
            </div>
            <div class="col-md-7">
                <h3>雅尼路汽车装饰灯</h3>
                &nbsp;
                <h4>详情介绍</h4>
                <table class="table" style="width:350px;">
						
						<tbody>
							<tr>
								<td>商品名称</td>
								<td>雅尼路汽车装饰灯</td>
							</tr>
							<tr>
								<td>商品编号</td>
								<td>00</td>
							</tr>
							<tr>
								<td>商品类型</td>
								<td>辅助车灯</td>
							</tr>
							<tr>
								<td>商品来源</td>
								<td>中国大陆</td>
							</tr>
						</tbody>
					</table>
					<p>价格：<b style="color:red;">￥13.00</b>&nbsp;&nbsp;&nbsp;&nbsp;库存：<span class="span" style="color:red">119</span>件&nbsp;&nbsp;&nbsp;&nbsp;
						<input type="number" min="1" style="width:50px;">
						<a href="#" class="btn btn-default" role="button">加购物车</a></p>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <hr>
    {% endblock %}

    {% block js%}
        {{ super() }}
        <script src="/static/bootstrap/js/baidujquery.min.js"></script>
        <script src="/static/bootstrap/js/baidubootstrap.min.js"></script>
    {% endblock %}
