{% extends "front/base.html" %}
    {% block title %}产品{{ product.id }}：{{ product.name }}{% endblock %} 
    
    {% block css %}
        {{ super() }}
        <link href="/static/css/1-col-portfolio.css" rel="stylesheet">
    {% endblock %}

    {% block content %}
        <!-- Page Heading -->
        <div class="row" style="padding-right:100px;padding-left:100px">
            <div class="col-lg-12">
                <h1 class="page-header">产品详情</h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Project One -->
        <div class="row" style="padding-right:100px;padding-left:100px">
            <div class="col-md-5">
                <img class="img-responsive" src="{{ product.img }}" alt="">
            </div>
            <div class="col-md-7">
                <div class="thumbnail">
                    <div class="caption">
                    <h3 class="text-center">{{ product.name }}</h3>
                    &nbsp;
                    <table class="table" style="margin:auto;width:400px">
    					<tbody>
    						<tr>
    							<td>商品名称</td>
    							<td class="text-center">{{ product.name }}</td>
    						</tr>
    						<tr>
    							<td>商品类型</td>
    							<td class="text-center">{{ product.category }}</td>
    						</tr>
    						<tr>
    							<td>商品来源</td>
    							<td class="text-center">{{ product.made_in }}</td>
    						</tr>
                            <tr>
                                <td>商品单价</td>
                                <td class="text-center" style="color:red;">{{ product.price }}</td>
                            </tr>
                            <tr>
                                <td>商品库存</td>
                                <td class="text-center">{{ product.quantity }}</td>
                            </tr>
    					</tbody>
    				</table>
					<p class="text-right">
						<input id="quantity" type="number" min="1" max="{{ product.quantity }}" style="width:50px;" value="1">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;						
                        <button onclick="addToTrolley();" class="btn btn-default" role="button">加购物车</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

    {% endblock %}

    {% block js%}
        {{ super() }}
        <script>
            function addToTrolley(){
                user = "{{ current_user.name }}";
                if (!user){
                    window.location.href="{{ url_for('auth.login',next=request.url) }}";
                }
                id = {{ product.id }};
                quantity = $("#quantity").val();
                data = {"product_id": id, "product_quantity": parseInt(quantity)}
                $.ajax({
                    url: "/apis/open/trolley/",
                    type: "post",
                    data: JSON.stringify(data),
                    contentType: "application/json",
                    dataType:"json",
                    async: true,
                    statusCode: {
                        422: function() {
                            alert("参数传递错误");
                        },
                        404: function() {
                            alert("用户购物车不存在");
                        },
                        409: function() {
                            alert("当前商品已经添加到购物车，请直接在购物车中修改");
                        },
                        201: function() {
                            alert("添加至购物车成功");
                        },
                    }
                });
            };
        </script>
    {% endblock %}
