{% extends "front/base.html" %}
    {% block title %}个人信息{% endblock %}

    {% block content %}
    	<p>&nbsp;</p>    	
    	<div class="row">
    		<!--左侧导航栏开始-->
    		<div class="col-xs-3">
                <p>&nbsp;</p>
                <p>&nbsp;</p>
    		    <p class="lead"></p>
                <div class="list-group" data-spy="affix" style="width: 250px">
                    <a href="{{ url_for('user.profile') }}" class="list-group-item" style="background-color:#eee">个人信息</a>
                    <a href="{{ url_for('user.order') }}" class="list-group-item">我的订单</a>
                </div>
    			
    		</div><!--左侧导航栏结束-->

    		<div class="col-xs-9">
    		<p>&nbsp;</p>
    			<div id="myInfo">
    				<h2></h2>
    				<p>&nbsp;</p>
    				<form class="form-horizontal" role="form" method="post">
                        {{ form.csrf_token }}
                        <div class="form-group">
                            <label class="col-xs-2 control-label">登陆邮箱</label>
                            <div class="col-xs-3">
                                <p class="form-control-static">{{ user.auth.account }}</p>
                            </div>
                        </div>

    					<div class="form-group">
    						<label class="col-xs-2 control-label">{{ form.name.label }}</label>
    						<div class="col-xs-3">
                                {% if form.name.errors %}
                                <p>{{ form.name.errors[0] }}</p>
                                {% endif %}
    							{{ form.name(class='form-control') }}
    						</div>
    					</div>
    					
                        <div class="form-group">
                            <label class="col-xs-2 control-label">{{ form.phone.label }}</label>
                            <div class="col-xs-3">
                                {% if form.phone.errors %}
                                <p>{{ form.phone.errors[0] }}</p>
                                {% endif %}
                                {{ form.phone(class='form-control') }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-xs-2 control-label">{{ form.address.label }}</label>
                            <div class="col-xs-3">
                                {% if form.address.errors %}
                                <p>{{ form.address.errors[0] }}</p>
                                {% endif %}
                                {{ form.address(class='form-control') }}
                            </div>
                        </div>

                        <!--
    					<div class="form-group">
    						<label for="inputPassword" class="col-xs-2 control-label">密码</label>
    						<div class="col-xs-3">
    							<input type="password" class="form-control" id="inputPassword" placeholder="请输入密码">

    						</div>
    					</div>
                        -->

                        <button type="submit">修改信息</button>
    				</form>
    				
    			</div>
    			<hr>
    			
    		</div>
    	</div>
    {% endblock %}
