{% extends "front/base.html" %}
    {% block title %}购物车{% endblock %} 
    {% block css %}
        <!--百度bootstrap-->
        <link href="/static/bootstrap/css/baidubootstrap.min.css" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="/static/bootstrap/css/1-col-portfolio.css" rel="stylesheet">
    {% endblock %}
    {% block content %}
        <p>&nbsp;</p>
        <div class="row" style="background-color:#eee;">
            <div class="col-sm-12"><h2>购物车</h2></div>
            <p>&nbsp;</p>
            <div class="col-sm-8">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>商品</th>
                            <th>单价（元）</th>
                            <th class="text-center">数量</th>
                            <th class="text-right">金额</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in products %}
                        <tr>
                            <td><a href="{{ url_for('product.detail', id=item.product_id) }}">{{ item.product.name }}</a></td>
                            <td>{{ item.product.price }}</td>
                            <td class="text-center vert-align"><input value="{{ item.product_quantity }}" type="number" min="1" style="width:50px;"></td>
                            <td class="text-right vert-align">js算出来</td>
                            <td class="text-center vert-align"><a href="#"><span class="glyphicon glyphicon-remove"></span></a></td>
                        </tr>
                        {% endfor %}
                        <!--<tr><td></td><td></td><td></td><td></td><td></td></tr> -->
                        <!--当购物车没有产品时，记得提醒用户，如“您还没有添加产品到购物车”-->
                    </tbody>
                </table>
            </div>
            <div class="col-sm-4 ng-scope">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="3" class="text-center">订单信息（单位：元）</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>商品总额：</td>
                            <td></td>
                            <td class="text-right"><b class="ng-binding">90</b></td>
                        </tr>
                        <tr>
                            <td>运费：</td>
                            <td></td>
                            <td class="text-right ng-binding">25</td>
                        </tr>
                        <tr>
                            <td>税费：</td>
                            <td></td>
                            <td class="text-right ng-binding">0</td>
                        </tr>
                        <tr>
                            <td>合计：</td>
                            <td></td>
                            <td class="text-right ng-binding">115</td>
                        </tr>
                    </tbody>
                </table>
                <a href="#" class="text-center"><h3><b>结账</b></h3></a>
            </div>
            </div>
    {% endblock %}

    {% block js %}
        <script src="/static/bootstrap/js/baidujquery.min.js"></script>
        <script src="/static/bootstrap/js/baidubootstrap.min.js"></script>
    {% endblock %}
